[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
scrapy = "*"
pymongo = "*"
nltk = "*"
pandas = "*"
sklearn = "*"
textblob = "*"
matplotlib = "*"
wordcloud = "*"

[dev-packages]

[requires]
python_version = "3.6"
